<div class="container mt-4">
    <h2>Ügyfél regisztráció</h2>
    <form>
      <!-- Név begyűjtése -->
      <div class="form-group">
        <label for="name">Név</label>
        <input type="text" class="form-control" id="name" placeholder="Írd be a neved" required [(ngModel)]="name">
      </div>
  
      <!-- Cím begyűjtése -->
      <div class="form-group">
        <label for="address">Cím</label>
        <input type="text" class="form-control" id="address" placeholder="Írd be a címed" required [(ngModel)]="address">
      </div>
  
      <!-- Igazolványszám begyűjtése -->
      <div class="form-group">
        <label for="idNumber">Igazolványszám</label>
        <input type="text" class="form-control" id="idNumber" placeholder="Írd be az igazolványszámod" required [(ngModel)]="idNumber">
      </div>
  
      <!-- Telefon begyűjtése -->
      <div class="form-group">
        <label for="phone">Telefonszám</label>
        <input type="tel" class="form-control" id="phone" placeholder="Írd be a telefonszámod" required [(ngModel)]="phone">
      </div>
      <!-- Regisztrációs gomb -->
      <button type="submit" class="btn btn-primary mt-3" (click)="submitForm()">Regisztráció</button>
    </form>
</div>